<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taking Test</title>
</head>

<style>
    
    body {
        background-color: black;
        color: white;
    }

    h1 {
        text-align: center;
    }

    .div-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .div-body-content {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



</style>

<body>
    <div class="div-body">
        <div class="div-body-content">
            <h1>Take Test Below</h1>
            
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>